:root {
  --cat-primary: rgb(184, 96, 96);
  --background-color: rgb(97, 97, 97);
}
body {
font-family: 'BIZ UDPMincho', serif;
background-color: var(--background-color);
}

button {
  font-family: 'BIZ UDPMincho', serif;
  border-color: gray;
  border-radius: 10px;
}

.card {
  background-color: wheat;
  box-shadow: .25em .25em 5px 0px rgba(108, 105, 105, 0.56);
  border: 1em;
  border-color: black;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 20px;
}

.entry {
  margin-bottom: 1em;
  padding-top: 1.5em;
}

.individual {
  background-color: var(--cat-primary);
  width: 30%;
  padding: 1em;
  border-radius: 1em;
  position: relative;
  display: inline-block;
  margin-top: .5em;
}


.close-button {
  cursor: pointer;
  position: absolute;
  left: 85%;
}

.cat-info {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
}

.cat-image {
  max-width: 80%;
  padding: .75em;
  align-self: center;
}

.controls-container {
  text-align: center;
}

.negative {
  animation: individual-status-negative 2s ease-in-out infinite;
}

.positive {
  animation: individual-status-positive 2s ease-in-out infinite;
}

@keyframes individual-status-negative  {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: var(--cat-primary);
  }
}

@keyframes individual-status-positive  {
  0%, 100% {
    background-color: rgb(38, 205, 0);
  }
  50% {
    background-color: var(--cat-primary);
  }
}

/* .card{
  background-color: var(--white);
  padding: 1em;
  box-shadow: var( --shadow);
  border-radius: var(--corners);
  
  margin: auto; /*centers card in page
  
} */

/* UTILITY CLASSES */

.auto-margin {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.p1em {
  padding: 1em;
}

.hidden{
  display: none; /* do not use important often or at all*/

}